# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 13th December, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in your github repo under the folder **Assignment-3**.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1mMtPeHCmsKQE8KxK_RmnFFkTPfo5RYNJ?usp=drive_link 
<h3><span style="color:red"> Deadline: 10th January, 2026 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [1]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [2]:
# Write your code here
pop = pd.read_csv("population_by_county.csv")
pop

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [3]:
# Write your code here
print("Top 8 rows:")
pop.head(8)

Top 8 rows:

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909

#### 3. What are the column names?

In [4]:
# Write your code here
print("Column Names:")
pop.columns

Column Names:

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [ ]:
# Write your code here
pop["State"].nunique()

51

#### 5. Get a list or array of all the states in the data set.

In [ ]:
# Write your code here
states_list = pop["State"].unique()
states_list # type- ndarry

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [21]:
# Write your code here
(
    pop["County"]                           # Select "County" column/ series object
    .value_counts()                         # Counts frequency of each "county" name
    .head(5)                                # Top 5
    .reset_index(name="Frequency")          # Converts the Series into a DataFrame, resetting the index, old index becomes column.
    .rename(columns={"index": "County"})    # Renames the column "index" to "County" to make it readable and intuitive.
)

              County  Frequency
0  Washington County         30
1   Jefferson County         25
2    Franklin County         24
3     Jackson County         23
4     Lincoln County         23

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [34]:
# Write your code here
top5_county_2010 = (
    pop[["County", "2010Census"]]                           # Relevant columns
    .sort_values(by="2010Census", ascending=False)          # Sort Descending-Populated
    .head(5)                                                # Top 5
    .reset_index(drop=True)                                 # Clean Index
    .rename(columns={"2010Census": "Population_2010"})      # readable columns
)

top5_county_2010

               County  Population_2010
0  Los Angeles County          9818605
1         Cook County          5194675
2       Harris County          4092459
3     Maricopa County          3817117
4    San Diego County          3095313

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [48]:
# Write your code here

# Step 1: Aggregate 2010 populations per state
state_pop_2010 = pop.groupby("State")["2010Census"].sum().reset_index()
# Step 2: Sort by 2010 population in descending order
top5_states_2010 = (
    state_pop_2010
    .sort_values(by="2010Census", ascending=False)
    .head(5)
    .reset_index(drop=True)
    .rename(columns={"2010Census": "Population_2010"})
)

top5_states_2010

        State  Population_2010
0  California         37253956
1       Texas         25145561
2    New York         19378102
3     Florida         18801310
4    Illinois         12830632

#### 9. How many Counties have 2010 populations greater than 1 million?

In [38]:
# Write your code here
num_counties_over_million = len(pop[pop["2010Census"] > 1_000_000])
num_counties_over_million

39

#### 10. How many Counties don't have the word "County" in their name?

In [39]:
# Write your code here

num_without_county = (~pop["County"].str.contains("County", case=False)).sum() # Use of ~ to negate search with County
num_without_county

np.int64(135)

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [40]:
# Write your code here

pop["Percent_Change"] = ((pop["2017PopEstimate"] - pop["2010Census"]) / pop["2010Census"] * 100).round(2)
pop.head()

,County,State,2010Census,2017PopEstimate,Percent_Change
0,Abbeville County,South Carolina,25417,24722,-2.73
1,Acadia Parish,Louisiana,61773,62590,1.32
2,Accomack County,Virginia,33164,32545,-1.87
3,Ada County,Idaho,392365,456849,16.43
4,Adair County,Iowa,7682,7054,-8.17

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [47]:
# Write your code here

# Want to find State-Level Population Growth, per dataset is per County.
# Each row is county, and a state has multiple counties.

# Step 1 : Aggregate population per state : Sum county populations to get state totals
state_pop = pop.groupby("State")[["2010Census", "2017PopEstimate"]].sum().reset_index()
# state_pop.head() # for inspection

# Step 2: Calculate percent change per state
state_pop["Percent_Change"] = ((state_pop["2017PopEstimate"] - state_pop["2010Census"]) 
                               / state_pop["2010Census"] * 100).round(2)
# state_pop.head() # for inspection

# Step 3: Sort states by percent change (descending)
top_states_growth = state_pop.sort_values(by="Percent_Change", ascending=False).reset_index(drop=True)
top_states_growth.head(10)  # Show top 10 for inspection

# Step 4: Top 5 states with highest population growth
top5_states_growth = top_states_growth.head(5).rename(columns={"Percent_Change": "Percent_Change_2010_2017"})
top5_states_growth

                  State  2010Census  2017PopEstimate  Percent_Change_2010_2017
0  District of Columbia      601723           693972                     15.33
1                 Texas    25145561         28304596                     12.56
2          North Dakota      672591           755393                     12.31
3                  Utah     2763885          3101833                     12.23
4               Florida    18801310         20984400                     11.61